@import "../../../assets/stylesheets/master.styl"

navbar-height = 50px

@media screen and (max-width : 768px)
  .menu
    z-index 100
    display: block
    margin 0
    position fixed
    top 0
    left 0
    width: 100vw
    height navbar-height
    border-radius: 25px
    text-align: center
    box-shadow: 0 0 5px 2px #eeeeee
    background-color: #fefefe
    ul
      padding 0
      margin 0
      list-style-type none
      width 100%
      text-align: center
      #center
        line-height: (navbar-height + 5px)
        height (navbar-height + 10px)
        background-color: #fefefe
        box-shadow: 0 5px 5px 2px #eeeeee
        border-radius: 15px
        svg
          height (navbar-height + 15px)
      li
        height navbar-height
        width auto
        position relative
        line-height: navbar-height
        svg
          height (navbar-height - 5px)
          display inline-block
          vertical-align: middle
          border-radius: 15px
          padding: 10px
          color app-color

@media screen and (min-width : 768px)
  .menu
    display: block !important
    z-index 100
    margin 0
    position fixed
    top 0
    text-align: center
    background-color: app-color;
    height 100vh;
    width: 75px;
    padding: 0;
    ul
      padding 0
      margin 0
      list-style-type none
      width 100%
      height 75px;
      width 75px;
      text-align: center
      img 
        display inline-block
        height 65px
      .separate
        opacity 0;
      #logo
        margin 0;
        height 80px;
        width: 75px;
        background-color: app-light;
        border-radius: 0 !important;
      #logo::before
        display: none;
      li
        width 55px
        height 55px
        position relative
        line-height: 65px
        padding: 7.5px;
        background-color: app-light;
        margin: 10px;
        border-radius: 15px !important;
        transition: .5s all;
        svg
          display inline-block !important
          color white;
          height 35px;
        border-radius: 0;
      li::before
        content ' '
        width: 5px;
        border-radius: 0px 15px 15px 0px;
        background-color: white
        position absolute
        height 55px;
        top 0
        left -10px;
        transform: scale(0)
        transition: .2s ease-in-out;;
      li:hover
        background-color: white;
      li:hover::before
        content ' '
        transform: scale(1)