@import "../../../assets/stylesheets/master.styl"

navbar-height = 50px

@media screen and (max-width : 768px)
  .menu
    z-index 100
    display: block
    margin 0
    position fixed
    top 0
    left 0
    width: 100vw
    height navbar-height
    border-radius: 25px
    text-align: center
    box-shadow: 0 0 5px 2px #eeeeee
    background-color: #fefefe
    ul
      padding 0
      margin 0
      list-style-type none
      width 100%
      text-align: center
      #center
        line-height: (navbar-height + 5px)
        height (navbar-height + 10px)
        background-color: #fefefe
        box-shadow: 0 5px 5px 2px #eeeeee
        border-radius: 15px
        svg
          height (navbar-height + 15px)
      li
        height navbar-height
        width auto
        position relative
        line-height: navbar-height
        svg
          height (navbar-height - 5px)
          display inline-block
          vertical-align: middle
          border-radius: 15px
          padding: 10px
          color app-color

@media screen and (min-width : 768px)
  .menu
    display: block !important
    z-index 100
    margin 0
    position fixed
    top 0
    padding: 50px
    padding-right: 25px
    border-radius: 25px
    text-align: center
    ul
      padding 0
      margin 0
      list-style-type none
      width 100%
      text-align: center
      img 
        display inline-block
        height 100px
        margin-bottom: 25px
      li
        height navbar-height
        width auto
        position relative
        height 75px
        line-height: 75px
        svg
          height 50px
          display inline-block !important
          vertical-align: middle
          box-shadow: 0 0 5px 2px #eeeeee
          border-radius: 15px
          padding: 10px
          color app-color