.account-page
  z-index 100
  display: block
  margin 15px
  padding: 15px
  height navbar-height
  margin 15px
  border-radius: 25px
  text-align: center
  box-shadow: 0 0 5px 2px #eeeeee
  ul
    padding 0
    margin 0
    list-style-type none
    width 100%
    text-align: center
    li
      display inline-block
      height 65px
      line-height: 65px
      width: 75%
      font-size: 1.25em
    li:nth-child(1)
      border-bottom:  3px solid #eeeeee
    .items
      margin-top: 15px
      box-shadow: 0 0 5px 2px #eeeeee
      border-radius: 15px
      height 50px
      width: 55%
      line-height: 50px
      font-size: 1em
      cursor pointer
    .items:hover
      color app-color
      transform: scale(1.05)
  .account-logout
    display inline-block
    margin-top: 50px
    width 50%
    height 35px
    line-height: 35px
    color #fefefe
    border-radius: 15px
    font-size: 1em
    background-color: #ef5350
    cursor pointer