@import "../../assets/stylesheets/master.styl"

.box
  width: 100%
  padding-left: 15px
  padding-right: 15px
  padding-top: 10px
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
  background-color: #fefefe
  cursor pointer
  z-index 1;
  #fav
    float right
    margin-top: 10px
    margin-right: 20px
    svg 
      height 20px
      vertical-align: middle
  .box-content
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
  ul 
    padding:0;
    margin 0
    list-style-type:none;
    vertical-align: middle;
    height 35px
    li 
      z-index 2;
      height: 25px
      text-align: center;
      line-height:25px
      box-sizing: border-box;
      position: relative;
      vertical-align: middle;
      text-align: left
      svg 
        height 25px
        vertical-align: middle
        margin-right: 5px
    #like
      color #353535
      fill #353535
    #author
      text-align: right 
      color app-color
      font-size: 1em
  .title
    #type
      font-size: 2em
      font-weight: bold
      color app-color
      padding-left 20px
    #type::before
      content ' '
      position absolute
      height 20px
      width 100px
      background-color app-light
      opacity .25
      margin-top 17.5px
      margin-left: -10px