@import "../../../assets/stylesheets/master.styl"
@import "../../home.styl"

.search
  line-height: 45px
  text-align: center
  padding-bottom: 10px
  #search-input
    height 45px
    display inline-block
    vertical-align: middle
    padding-left: 10px
    border: 2px solid #eeeeee
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    width 80%
  #search-btn
    display inline-block
    border: 2px solid app-color
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    height 45px
    width 45px
    line-height: 50px
    vertical-align: middle
    cursor pointer
    position relative
    svg 
      height: 30px
      position relative
      display inline-block
      line-height 50px
      margin: 5.5px
  #search-btn:hover
    svg 
      transform: scale(.8)