@import "../../../assets/stylesheets/master.styl"
@import "../../home.styl"

.search
  height 50px
  line-height: 45px
  text-align: center
  #search-input
    height 45px
    display inline-block
    vertical-align: middle
    padding-left: 10px
    border: 2px solid #eeeeee
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    width 80%
  #search-btn
    display inline-block
    border: 2px solid app-color
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    height 45px
    width 45px
    line-height: 40px
    padding-left 4px
    vertical-align: middle
    img 
      height: 25px