@import "../../../assets/stylesheets/master.styl"

#meFavoris
  .content
    margin-top: 20px !important

#wave
  svg
    position fixed
    bottom 0
    left 0
    width: 100vw
    z-index: -1
    opacity .75
.footer
  position absolute
  bottom 25px;
  right 0
  height 50px
  width 350px