@import "../assets/stylesheets/master.styl"

.content
  margin-top: 10px
  padding: 0
  padding-left: 15px
  padding-right: 15px

.page-title
  background-color: #fefefe
  padding: 5px
  width: auto
  display inline-block
  border-bottom: 3px solid app-color
  h1
    font-size: 2em
    font-weight: bold
    margin: 0


.box
  width: 100%
  padding-left: 15px
  padding-right: 15px
  padding-top: 10px
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #eeeeee;
  .box-user
    height 40px
    margin-bottom: 5px
    line-height: 35px
    text-align: left
    #picture
      height 30px
      border-radius: 50%
    #username
      display inline
      vertical-align: middle
      font-size: 1em
      font-weight: bold
      border-radius: 10px
      padding: 5px
      padding-left: 10px
  .box-actions
    margin-top: 5px
    height 45px
    line-height: 45px
    .action
      text-align: center
    #like
      display inline
      img 
        height 25px
        color: app-color
        vertical-align: middle
      p
        display inline
        margin-left: 2.5px
        color: app-color
    #follow
      margin-left: 15px
      width: 100px
      display inline
      img 
        height 25px
        color: app-color
        vertical-align: middle
      p
        display inline
        margin-left: 2.5px
        color: app-color
    #discover
      img 
        height 25px
        vertical-align: middle
        display inline-block
        svg 
          fill: app-color
      p
        display inline
        margin-left: 2.5px
        color: app-color
      cursor pointer

.box:nth-child(2)
  border-radius: 0px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px
  box-shadow: 0 2px 5px 1px #eeeeee

.slogan
  #type
    color app-color
    font-weight: bold
    display inline
  #text
    font-size: 1em
    display inline

.idea
  #keyword
    font-size: 1em
    display inline
    margin-right: 5px
    background-color: app-color
    padding: 2.5px
    padding-left: 5px
    padding-right: 5px
    border-radius: 5px
    color #fefefe
  #categories
    float right
    box-sizing: border-box
    color: app-color
    font-weight: bold
    display inline
    img 
      height 15px
      display inline
      vertical-align: middle
  #description
    font-size: 1em
    text-align: justify
    margin-top: 5px
  .box-idea-details
    display: none
    #title
      border-top: 2px solid app-color
      padding-top: 5px
      font-size: 1.5em
      font-weight: bold
    #text
      font-size: 1em
      text-align: justify
    #links
      margin-top: 10px
      line-height: 10px
      p
        color #63a4ff
        img 
          height 10px
          margin-left: 5px
    #images
      margin-top: 5px
      img 
        height 100px
        border: 2px solid #eeeeee
        margin 5px
        border-radius: 5px

.selection
  width auto
  padding-top: 10px
  #type
    text-align: center
    font-size: 1.2em
    font-weight: bold
    color: app-color-dark
    img 
      height 1.5em