@import "../../../assets/stylesheets/master.styl"
@import "../../home.styl"

#connexion
  z-index 100
  position fixed
  top 0
  left 0
  width 100%
  height 100vh
  box-shadow 0 0 2px 3px #e3e3e3
  background-color: #fefefe
  padding-top: 10px
  .infos
    text-align: center
    .icon
      margin-top 10%
      left 0
      line-height: 50px;
      img 
        width 200px
        vertical-align: middle
    #connexion-title
      margin-top: 10px
      font-size: 4em
      font-weight: bold
      color app-color
      padding-left 20px
    #connexion-title::before
      content ' '
      position absolute
      height 35px
      width 250px
      background-color app-light
      opacity .25
      margin-top 37.5px
      margin-left: -10px
  .infos-mobile
    text-align: center
    #connexion-title
      margin-top: 10px
      font-size: 1.2em
      font-weight: bold
      color app-color
      padding-left 20px
    #connexion-title::before
      content ' '
      position absolute
      height 15px
      width 75px
      background-color app-light
      opacity .25
      margin-top 10px
      margin-left: -10px
    .icon
      margin-top 5px
      left 0
      line-height: 50px;
      img 
        width 50px
        vertical-align: middle
  .login
    .form
      margin-top: 25px
      text-align: center
      #error
        color red
        font-weight: bold
        padding: 5px
        border 2px solid red
        border-radius: 15px
      label 
        color: app-color
        width 100%
        text-align: left
        font-size: 1.1em
        input 
          margin-top: 10px
          margin-bottom: 15px
          display block
          width: 100%
          height 40px
          border 2px solid white
          border-radius: 15px
          padding: 15px
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
      .validated
        display inline-block
        width: 150px
        background-color white
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
        color app-color
        font-weight: bold

// @media screen and (max-width : 768px)

.footer
  position fixed
  height 30px
  line-height: 25px
  width 100vw
  bottom 0px
  text-align: center

#question
  margin: 0
  margin-bottom: 10px
  font-size: .9em
  text-decoration: underline
  color app-color

.error 
  border 3px dotted red !important