@import "../../../assets/stylesheets/master.styl"

.footer
  position fixed
  height 30px
  line-height: 25px
  width 100vw
  bottom 0px
  text-align: center

.post
  .defaut
    .inbox
      min-height 100px
      .title
        color app-color
        font-weight: bold
        margin 0
        margin-left: 5px
      input 
        width 95%
      ul 
        border-top: 2px solid app-color
        padding:0;
        margin:0;
        list-style-type:none;
        vertical-align: middle;
        height 25px
        li:first-child
          margin-left 0
        li 
          height: 35px
          text-align: center;
          line-height:30px
          box-sizing: border-box;
          position: relative;
          vertical-align: middle;
          margin:5px;
          background-color:#ffffff;
          color rgba(0,0,0 .4)
          box-shadow: 0 0 10px rgba(0,0,0,.1)
          border-radius:15px;
          width: 100px;
          overflow:hidden;
          float left
          label 
            width: 100px
            span
              text-align:center;
              padding:3px 0px;
              display:block;
              border-radius:4px;
            input
              position:absolute;
              top:-20px;
            input:checked + span
              color app-color
              background-color: rgba(0, 250, 20, .25)
  .type-1
    .inbox
      min-height 100px
      .title
        color app-color
        font-weight: bold
        margin 0
        margin-left: 5px
      textarea  
        width 95%
        border none 
        box-shadow: 0 0 10px rgba(0,0,0,.1)
        padding: 10px
        border-radius: 15px
        vertical-align: top
      #resume
        height 75px
      #description
        height 175px
  .type-2
    .inbox
      min-height 100px
      .title
        color app-color
        font-weight: bold
        margin 0
        margin-left: 5px
      input  
        width 95%
        border none 
        box-shadow: 0 0 5px rgba(0,0,0,.1)
        padding: 10px
        border-radius: 15px
        vertical-align: top
        height 30px;
        width: 90%
        margin: 4px
  .send
    margin-top: 25px
    text-align: center
    .btn
      width: 250px
      display inline-block
      background-color: white
      box-shadow: 0 0 10px rgba(0,0,0,.1)
      color app-color
      font-weight: bold