app-color = #85C174
app-color-dark = #353533
app-light = #8AD18E;

#wave-1
  svg
    z-index -1
    opacity 1
    position fixed
    bottom 0
    left 0
    width 100vw
#wave-2
  svg
    z-index -1
    opacity .5
    position fixed
    bottom 0
    left 0
    width 100vw

#title
  margin-top: 10px
  font-size: 2.5em
  font-weight: bold
  color app-color
  padding-left 20px
#title::before
  content ' '
  position absolute
  height 25px
  width 300px
  background-color app-light
  opacity .25
  margin-top 22.5px
  margin-left: -10px

.content
  margin-top: 20px 
  padding: 0
  z-index 1

@media screen and (max-width : 768px)
  .content
    margin-top: 20px